body {
    background-color: #eff1f7;
    text-decoration: none;
}


#title {
    flex-direction: column;
    font-weight: bold;
    margin-left: -30px;
    color: white;
    margin-top: 15px;
}
.areanomefoto{
  padding-left: 80px;
  }
  h2{
     padding-right: 60px;
  }


h1,
h2,
p

{
  line-height: 1em;
  text-align: center;
  color:#ffffff;
}

#titulo{
font-size: 20px;
  color:#ffffff;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
    

}


section p small
{
  display: block;
  padding: 3px;
  text-align: left;
}

section
{
    height: 30%;
    width: 80%;
    display:flex;
    justify-content: center;
    padding-top: 80px;
  
}

section p
{
  font-size: 20px;
 color: #ffffff;
}


#logo>img {
    width: 150px;
    height: 75px;
    padding: 1%;
    margin: 0%;
    margin-left: 28px;
}

#logo {
    display: flex;
}

header {
    display: flex;
    background-color: #030c33;
    position: fixed;
    padding: 10px;
    width: 100%;
    height: 70px;
}

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 90px;
    padding-top: 30px;
    left: 0;
    background: #030c33;
    transition: 0.5s;
    transition-property: left;
}

#body {
    width: 250px;
    height: 100%;
    margin-top: 70px;
    margin-left: 200px;
    left: 80px;
    right: 200px;
    padding-top: 30px;
}

.sidebar .imagem {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.sidebar h2 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #51b3ec;
}

.sidebar ion-icon {
    padding-right: 30px;
}
/*botão*/
label #sidebar_btn {
    z-index: 1;
    position: fixed;
    left: 10px;
    color: #fff;
    font-size: 45px;
    margin: 9px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}
/*cor do botão quando clica*/
label #sidebar_btn:hover {
    color: #51b3ec;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#check:checked~.content {
    margin-left: 60px;
}

#check {
    display: none;
}

.left h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
}

.left span {
    color: #51b3ec;
}

.areacadastro{
    padding: 20px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    align-items: center;
    margin-left: -100px;
    width: 1500px;
    margin-left: 280px;
    margin-top: 100px;
}
.controls{
    text-decoration: none;
}
.titulocard{
    color: #030c33;
}
#nome{
    width: 1300px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
}
#cpf{
    width: 700px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
}
#rg{
    width: 630px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
}
#sex{
    width: 600px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
    height: 30px;
    background-color: white;
    border-width: 2px;
}
#endereco{
    width: 600px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
}
#numero{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
}
#bairro{
        width: 200px;
        height: 25px;
        border-radius: 10px;
        border-color: #51b3ec;
        margin-top: 25;
    }
#cidade{
    width: 300px;
        height: 25px;
        border-radius: 10px;
        border-color: #51b3ec;
        margin-top: 25;
}
#estado{
    width: 100px;
        height: 25px;
        border-radius: 10px;
        border-color: #51b3ec;
        margin-top: 25;
        height: 30px;
        background-color: white;
        border-width: 2px;
}
#cep{
    width: 200px;
        height: 25px;
        border-radius: 10px;
        border-color: #51b3ec;
        margin-top: 25;
}
#telefone{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
    margin-top: 25;
}
#datanascimento{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border-color: #51b3ec;
    margin-top: 25;
    height: 30px;
    background-color: white;
    border-width: 2px;  
}
.controls{
    color: #030c33;
    font-size: 20px;
    line-height: 40px;
}
.botoes{
    margin-top: 10px;
    margin-left: 40%;
}
.confirmar{
    background-color: #51b3ec;
    border-radius: 5px;
    color: #030c33;
    height: 25px;
    font-size: large;
    border-width: 0px;
    width: 100px;
}
.cancelar{
    background-color: #51b3ec;
    border-radius: 5px;

    height: 25px;
    font-size: large;
    border-width: 0px;
    width: 100px;
    color: #030c33;
}
