html,body {
	height: 100%;
}

body {
    animation: theme 21s linear infinite;
    
     &:antes,
     &:depois {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;  // IE/Edge
        height: 100vh; // fallback
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.05);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #74C390;
    }
    
    16% {
        background: #5DBDB6;
    }
    
    33% {
        background: #59D4E1;
    }
    
    50% {
        background: #51BCE8;
    }
    
    66% {
        background: #FA5374;
    }    
    
    83% {
        background: #E46653;
    }

    100% {
        background: #74C390;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
}

.teladelogin1 .brand {
	margin-top: 5px;
	margin-bottom: 5px;
}

.teladelogin1  .brand img {
	width:  60%;
	align-items: center;
	display: flex;
	margin-left: 125px ;
	margin-bottom: 5px;
}

.teladelogin1  .card-wrapper {
	width: 600px;
}

.teladelogin1  .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(168, 23, 23, 0.05);
}

.teladelogin1  .card.fat {
	padding: 10px;
}

.teladelogin1  .card .card-title {
	margin-bottom: 40px;
	margin-top: 30px;
	
}

.teladelogin1  .form-control {
	border-width: 2.3px;
}

.teladelogin1  .form-group label {
	width: 100%;
}

.teladelogin1  .btn.btn-block {
	padding: 12px 10px;
}

.teladelogin1  .footer {
	margin: 50px 0;
	color: rgb(252, 252, 252);
	text-align: center;
	font-weight: bold;

}
.texto-redefinir{ 
	align-items: center;

}




@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

