<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/novoagendamentoadm.css">

    <title> paginanovoagendamneto </title>
</head>
<style>
    a{
        text-decoration: none;
    }
</style>

<body>
    <input type="checkbox" id="check">
    <!--header começo-->
    <header>
        <div>
            <label for="check">
                <ion-icon name="menu-outline" id="sidebar_btn" onclick="movepainel()"></ion-icon>
            </label>
        </div>
        <div id="logo">
            <img class="logo" alt="logo" src="/assets/img.png">

            <div id="title" class="left">
                <h1>ProntMed</h1>
            </div>
        </div>
    </header>
    <!--Inicio do menu lateral-->

    <div class="sidebar">
        <div class="areanomefoto">

            <img src="/assets/atendente1.png" class="imagem" alt>
            <h2>Maria</h2>
        </div>
        <nav>
            <a href="/frontstart/templates/paginaFuncionario/agendamentosadm.html">
                <ion-icon name="calendar-outline"></ion-icon><span>Agendamentos</span>
            </a>
            <a href="/frontstart/templates/paginaFuncionario/novopaciente.html">
                <ion-icon name="person-add-outline"></ion-icon><span>Novo paciente</span>
                <a href="/templates/paginaFuncionario/novoProntuario.html">
                    <ion-icon name="document-outline"></ion-icon><span>Novo Prontuario</span>
                </a>
                <a href="#">
                    <ion-icon name="exit-outline"></ion-icon><span>Sair</span>

        </nav>
    </div>
<!--fim no menu lateral-->



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!--inicio panel (todo o painel deve estar aqui)-->
    <div id="painel" class="main">
        <div class="novoagendamento">
            <form action="#" method="post">
                <form method="post" action=""class="form">
                    <div class="areacadastro">
            
                    <label>Nome: </label><input type="text" name="nome" class="nome" id="nome"><br>
                    
                    <label>Medico: </label><input type="medico" name="medico" class="medico" id="medico"><br>
                    
                    <label>Data: </label><input type="date" name="data" class="data" id="data"><br>
                    
                    
                    <label>Hora:</label><input type="time" name="hora" id="hora" class="hora" id="hora"><br>
                    <input type="submit" value="Cadastrar" id="cadastrar" name="cadastrar" >
                    
                </div>
                
            </form>
            
        </div>
        
    </div>
    <!--fim painel-->
</body>
</html>