<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../css/novopaciente.css">

    <title> NovoPaciente </title>
</head>
<STYLE>
    A {
        text-decoration: none;
    }
</STYLE>
<body>
    <input type="checkbox" id="check">
    <!--header começo-->
    <header>
        <label for="check">
            <ion-icon name="menu-outline" id="sidebar_btn"></ion-icon>
        </label>
        <div id="logo">
            <img class="logo" src="/assets/img.png">

            <div id="title" class="left">
                <h1>ProntMed</h1>
            </div>
        </div>
    </header>


    <div class="sidebar">
        <center>
            <img src="/assets/atendente.JPG" class="imagem" alt>
            <h2>Maria</h2>
        </center>
        <a href="/frontstart/templates/paginaFuncionario/agendamentosadm.html">
            <ion-icon name="calendar-outline"></ion-icon><span>Agendamentos</span>
        </a>
        <a href="/frontstart/templates/paginaFuncionario/novopaciente.html">
            <ion-icon name="person-add-outline"></ion-icon><span>Novo paciente</span>
            <a href="/templates/paginaFuncionario/novoProntuario.html">
                <ion-icon name="document-outline"></ion-icon><span>Novo Prontuario</span>
            </a>
            <a href="#">
                <ion-icon name="exit-outline"></ion-icon><span>Sair</span>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <div class="painel">
    <div id="titulo">
    </div>
    <div class="areacadastro">
        <div class="area"
        <section>
            <form >
                <h1 class="titulocard">Cadastro de Paciente</h1>
                <div class="group">
                    <div class="controls">
                        <label for="name">Nome completo: * </label>
                        <input type="text" class="nome" id="nome" name="name" data-jsv-validators="require"
                            data-jsv-field-error-require="O campo não pode ser vazio" />
                    </div>

                    <div class="grid">
                        <div class="col-1-3">
                            <div class="controls">
                                <label for="cpf">CPF: * </label>
                                <input class="cpf" type="text" id="cpf" name="cpf" data-jsv-validators="require"
                                    data-jsv-field-error-require="Não pode deixar campo de CPF vazio" />
                                    <label for="rg">RG: * </label>
                                    <input class="rg" type="number" id="rg" name="rg">
                            </div>
                        </div>

                        <div class="col-1-3">
                            <div class="controls">
                                <label for="idade">Data de nascimento: *<input type="date" class="datanascimento" name="datanascimento"
                                    id="datanascimento" required> </label><br>


                            </div>
                        </div>

                        <div class="col-1-3 col-1-3-sm">
                            <div class="controls">
                                <label for="sex">Gênero</label>
                                <select class="sex" name="sex" id="sex">
                                    <option value="blank">Selecione</option>
                                    <option value="male">Masculino</option>
                                    <option value="female">Feminino</option>
                                    <option value="other">Outros</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="col-2-3">
                            <div class="controls">
                                <label for="street">Endereço: *</label>
                                <input type="text" class="endereco" id="endereco" name="endereco" data-jsv-validators="require"
                                    data-jsv-field-error-require="Não pode deixar campo vazio" />
                            </div>
                        </div>

                        <div class="col-1-3">
                            <div class="controls">
                                <label for="number">Número: *</label>
                                <input type="number" class="numero" id="numero" name="number" data-jsv-validators="require"
                                    data-jsv-field-error-require="O número não pode ser vazio" />
                    
                        <label for="bairro">Bairro</label>
                        <input type="text" class="bairro" id="bairro" name="bairro">
                        <label for="cidade">Cidade*</label>
                                <input type="text" id="cidade" name="cidade" data-jsv-validators="require"
                                    data-jsv-field-error-require="Não pode deixar campo vazio" />
                            </div>
                    </div>

                        <div class="col-1-3">
                            <div class="controls">
                                <label for="estado">Estado*</label>
                                <select name="estado" class="estado" id="estado" data-jsv-validators="require">
                                    <option value="selecione">Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-1-3">
                            <div class="controls">
                                <label for="cep">CEP</label>
                                <input type="text" class="cep" id="cep" name="cpf" pattern="\d{5}-?\d{3}"
                                    placeholder="XXXXX-XXX">
                            </div>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="col-1-2">
                            <div class="controls">
                                <label for="telefone">Telefone Celular*</label>
                                <input type="text" class="telefone" id="telefone" name="telefone" placeholder="(DD) XXXXX-XXXX"
                                    data-jsv-validators="pattern"
                                    data-jsv-pattern="^\([1-9]{2}\) (?:[2-8]|9[1-9])[0-9]{3}\-[0-9]{4}$"
                                    data-jsv-field-error-pattern="Por favor, valide seu número de celular" />
                            </div>
                        </div>


                    </div>
                    <div class="col-1-8">
                        <div class="botoes">
                            <button class="confirmar" type="submit">
                                Confirmar
                            </button>
                            <button class="cancelar" type="reset">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </section>
    </div>
    </div>
</div>

</body>

</html>