<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=ss/cadastroAdmin.cssdevice-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/cadastroAdmin.css">
    <title>Document</title>
</head>
<body>
    <form method="post" action=""class="form">
        <div class="container">
            <div class="logo-title">
                <img src="../../assets/img.png" alt="Logo" width="280px">
                <h2 class="titulologo">ProntMed</h2>
                        </div>
                        <div class="areacadastro">
                            <div class="card fat2">
                                <div class="card-body">

    <form method="POST" action=""class="form">


        <label>Nome: </label><input type="text" name="nome" class="nome"><br>

        
        <label>Email: </label><input type="email" name="email" class="email" ><br>
        
        <label>Matricula: </label><input type="text" name="matricula" class="matricula" ><br>
                                
        
        <label>Senha:</label><input type="password" name="senha" id="senha" class="senha"><br>
        <input type="submit" value="Cadastrar" id="cadastrar" name="cadastrar" >
                            </div>
    </form>

        <script src="../../js/admin.js"></script>  
</body>
</html>
